<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Environments" type="Lobster.PageObjectModel.Setup.EnvironmentsDataSection, Lobster.PageObjectModel" />
  </configSections>

  <appSettings>

    <add key="ErrorCaptureLocation" value="C:\Temp\" />

    <!--Choose browser to run test-->

    <!--<add key="Browser" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>-->
    <add key="Browser" value="OpenQA.Selenium.Chrome.ChromeDriver" />
    <!--<add key="Browser" value="OpenQA.Selenium.IE.InternetExplorerDriver"/>-->

  </appSettings>

  <Environments>

    <!--Prod-->
    <!--<Environment>
      <add name="HomePage" url="https://secure.fleetio.com/users/sign_in" pageTitle="Log in - Fleetio" />
    </Environment>-->

    <!--Dev-->
    <Environment>
      <add name="HomePage" url="http://lobster.media/" pageTitle="Lobster – The place to license social media photos starting at $0.99" />
      <add name="SignInDialog" url="http://lobster.media/marketplace" pageTitle="Lobster – The place to license social media photos starting at $0.99" />
    </Environment>

  </Environments>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>