<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Environments" type="Lobster.PageObjectModel.Setup.EnvironmentsDataSection, Lobster.PageObjectModel" />
  </configSections>

  <appSettings>

    <add key="ErrorCaptureLocation" value="C:\Temp\"/>

    <!--Choose browser to run test-->

    <!--<add key="Browser" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>-->
    <add key="Browser" value="OpenQA.Selenium.Chrome.ChromeDriver"/>
    <!--<add key="Browser" value="OpenQA.Selenium.IE.InternetExplorerDriver"/>-->

  </appSettings>

  <Environments>

    <!--Prod-->
    <!--<Environment>
      <add name="HomePage" url="https://secure.fleetio.com/users/sign_in" pageTitle="Log in - Fleetio" />
    </Environment>-->

    <!--Dev-->
    <Environment>
      <add name="HomePage" url="http://lobster.media/" pageTitle="Lobster – The place to license social media photos starting at $0.99" />
      <add name="SignInDialog" url="http://lobster.media/marketplace" pageTitle="Lobster – The place to license social media photos starting at $0.99" />
    </Environment>

  </Environments>


</configuration>